


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Header ***/
.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.booking {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}

/* Navbar Base */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 2rem 3rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo and Brand */
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo img {
    width: 40px;
    height: 40px;
  }
  .logo span {
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  /* Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  .nav-links li a:hover {
    color: #009688;
  }
  
  /* Search and Bookings */
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .search-icon {
    font-size: 1.2rem;
    color: #555;
    text-decoration: none;
  }
  .booking-btn {
    background-color: #00c39a;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
  }
  .booking-btn:hover {
    background-color: #009f80;
  }
  
  /*Footer code  */
  .footer {
    background-color: #111;
    color: #eee;
    padding: 4rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 1rem;
  }
  
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
  }
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 1rem;
    font-size: 0.9rem;
  }
  
  .brand-highlight {
    color: #00c39a;
    font-weight: 600;
  }
  
